<section class="flex justify-center items-center h-screen bg-gray-100">
    <div class="max-w-md w-full bg-white rounded p-6 space-y-4">
        <div class="mb-4">
            <p class="text-gray-600">Restaurar Contraseña</p>
            <h2 class="text-xl font-bold">Ingrese su contraseña</h2>
        </div>
        <form [formGroup]="fromPasswordReset" (submit)="onChangePassword()">
            <div>
                <input
                    class="w-full p-4 text-sm bg-gray-50 focus:outline-none border border-gray-200 rounded text-gray-600 my-2"
                    type="password" placeholder="Password" formControlName="password">

                <div class="bg-red-100 border border-red-400 text-red-700 my-2 px-4 py-3 rounded relative" role="alert"
                    *ngIf="!fromPasswordReset.get('password')?.valid && fromPasswordReset.get('password')?.touched">
                    <p class="block sm:inline">La contraseña debe contar de <strong class="font-bold"> 3
                            Mayusculas, 3 Numeros y 2 Caracteres Especiales</strong>.</p>
                </div>
            </div>

            <div>
                <button type="submit"
                    class="w-full py-4 bg-blue-600 hover:bg-blue-700 rounded text-sm font-bold text-gray-50 transition duration-200">Sign
                    In</button>
            </div>
        </form>


    </div>
</section>