<div class="bg-white dark:bg-gray-900">
    <div class="flex justify-center h-screen">

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <h2 class="text-4xl font-bold text-center text-gray-700 dark:text-white">SOFKA U</h2>

                    <p class="mt-3 text-gray-500 dark:text-gray-300">Crea tu cuenta para el poder</p>
                </div>

                <div class="mt-8">
                    <form>
                        <div>
                            <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Nombre</label>
                            <input type="text" name="name" id="name" placeholder="Name"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                #displayName />
                        </div>

                        <div class="mt-6">
                            <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Dirección de
                                correo electrónico</label>
                            <input type="email" name="email" id="email" placeholder="example@example.com"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                #userEmail />
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password"
                                    class="text-sm text-gray-600 dark:text-gray-200">Contraseña</label>
                            </div>

                            <input type="password" name="password" id="password" placeholder="Your Password"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                                #userPassword />
                        </div>

                        <div class="mt-6">
                            <button
                                class="w-full my-2 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50"
                                type="button" (click)="authService.SignUp(userEmail.value, userPassword.value)">
                                Registrarte
                            </button>
                        </div>

                    </form>

                    <p class="mt-6 text-sm text-center text-gray-400">¿Ya tienes cuenta?<a [routerLink]="['/login']"
                            class="text-blue-500 focus:outline-none focus:underline hover:underline">Acceder aquí</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="hidden bg-cover lg:block lg:w-2/3"
            style="background-image: url(https://img.freepik.com/foto-gratis/pantalla-escaneo-programador-su-reloj-inteligente-camara-telefono-inteligente_1098-18710.jpg?w=996&t=st=1659758486~exp=1659759086~hmac=3711ccd47c60d126a184cd875f4d87cf9ec6836b390de76e91e6a0be9065d12e)">
            <div class="flex items-center justify-end h-full px-20 bg-gray-900 bg-opacity-40">
                <div>
                    <h2 class="text-5xl font-bold text-white">¡Esta es tu oportunidad!</h2>

                    <p class="max-w-xl mt-3 text-gray-300">Training Leagues son espacios de formación creados para
                        desarrollar el talento de nuestros futuros Sofkianos impartiendo un entrenamiento holístico
                        compartiendo las mejores prácticas que hacen más simple el uso de las TICs , en diferentes ligas
                        que van alineadas a tu interés y proyección profesional.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>