<div class="max-w-2xl mx-auto dark:bg-gray-900 p-16">
    <h1 class="block mb-2 text-lg font-medium  dark:text-gray-300 text-center">
        Configuración del Reto Técnico
    </h1>
    <form [formGroup]="formChallenge" (ngSubmit)="onSubmit(formChallenge.value)">
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Cierre del Reto
                </label>
                <input type="text" id="first_name"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="John" maxlength="50"  formControlName="name"  required>
            </div>

            <div>
                <label for="study" class="block mb-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Lenguaje de programacion de preferencia?
                </label>
                <select name="study" id="study"
                    class="bg-gray-51 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required>
                    <!-- <option selected disabled *ngIf='postulant.englishLevel == ""'>{{postulant.englishLevel}}</option> -->
                    <!-- <option selected disabled>{{postulant.isStudying}}</option> -->
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>

            <div>
                <label for="lastname"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Nombre Del Reto
                </label>
                <input type="text" id="lastname"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Doe" maxlength="50" formControlName="lastname" required>
            </div>
            <div class="mb-6">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
                    Descripción del Reto</label>
                <textarea id="message" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Soy un profesional del area de la informatica...." required maxlength="500" ></textarea>
            </div>
       </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 mx-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmar Reto</button>
    </form>

    <button type="button"
        class="text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 my-3 mx-3 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800"
        routerLink="/list/home">Atras</button>
</div>
